@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap');

 @layer components {
  .section-title {
    @apply text-3xl font-bold mb-4;
  }

  .section-subtitle {
    @apply text-lg text-gray-600 mb-6;
  }

  .content-wrapper {
    @apply max-w-4xl mx-auto px-4;
  }
 @theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
  --color-rose: hsl(343, 90%, 70%);
  --color-shadowgrey: #3A2E39;
  --color-
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  
  
  --font-bville: "Baskervville", serif;
  --font-optical-sizing: auto;
  --font-weight: <weight>;
  --font-style: normal;
    /* ... */
}

.darkmode {
background: hsla(276, 19%, 15%, 1);

background: linear-gradient(135deg, hsla(276, 19%, 15%, 1) 50%, hsla(20, 3%, 21%, 1) 50%);

background: -moz-linear-gradient(135deg, hsla(276, 19%, 15%, 1) 50%, hsla(20, 3%, 21%, 1) 50%);

background: -webkit-linear-gradient(135deg, hsla(276, 19%, 15%, 1) 50%, hsla(20, 3%, 21%, 1) 50%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#281F2E", endColorstr="#373534", GradientType=1 );

  color: white;
}
.light{
background: #ffa8aa;

background: linear-gradient(135deg, hsla(359, 100%, 83%, 1) 50%, #fff9f5 50%);

background: -moz-linear-gradient(135deg, hsla(359, 100%, 83%, 1) 50%, hsla(25, 100%, 98%, 1) 50%);

background: -webkit-linear-gradient(135deg, hsla(359, 100%, 83%, 1) 50%, hsla(25, 100%, 98%, 1) 50%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFA9AA", endColorstr="#FFF8F3", GradientType=1 );}
}